.contents__inner {
  margin: 0 auto;
  max-width: 960px;
}
.contents__heading {
  color: #333;
  font-size: 36px;
  line-height: 1.5;
}
.contents__hr {
  border: 1px solid #333;
  margin: 24px auto 32px;
  width: 40px;
  height: 1px;
}
.contents__text {
  color: #2b2b2b;
  font-size: 16px;
  line-height: 1.8;
}
.contents__item-heading {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.7;
}
