.work {
  background: #fff;
  padding: 80px 0 0;
  width: 100%;
}
.work__list {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1680px;
  padding-top: 40px;
}
.work__item {
  text-align: left;
  width: 420px;
  &:nth-of-type(1) {
    -ms-flex-order: 1;
    order: 1;
    padding-bottom: 80px;
  }
  &:nth-of-type(2) {
    -ms-flex-order: 3;
    order: 3;
    padding: 120px 0 80px;
  }
  &:nth-of-type(3) {
    -ms-flex-order: 2;
    order: 2;
    padding-bottom: 200px;
  }
  &:nth-of-type(4) {
    -webkit-flex-order: 4;
    -ms-flex-order: 4;
    order: 4;
    padding-bottom: 100px;
  }
}
.work__item-text {
  color: #2b2b2b;
  font-size: 16px;
  line-height: 1.8;
}