// h2
$heading-pc: 36px;
$heading-tab: 27px;
$heading-sp: 24px;
// p
$text-pc: 16px;
$text-tab: 14px;
$text-sp: 12px;

// h3
$item-heading-pc: 24px;
$item-heading-tab: 16px;
$item-heading-sp: 16px;

// リスト内 p
$item-text-pc: 16px;
$item-text-tab: 14px;
$item-text-sp: 12px;
