.header {
  background: url(../img/背景画像@2x.png) no-repeat center/cover;
  height: 400px;
  position: relative;
}
.header__logo {
  position: absolute;
  top: 272px;
  left: 60px;
  width: 297px;
  height: 68px;
}
