.bangkok-detail {
  background: url(../img/bangkokbg.jpg) center / cover no-repeat;
  color: #fff;
  padding: 100px 0;
  text-align: left;
  @include sp {
  background: url(../img/bangkokbgsp.jpg) center / cover no-repeat;
  padding: 30px 0;
  }
}
.bangkok-detail__content {
  margin: 0 auto;
}
.bangkok-detail__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 30px;
  @include tab {
    font-size: 20px;
  }
  @include sp {
    font-size: 16px;
    text-align: center;
  }
}
.bangkok-detail__text {
  &:first-of-type {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 30px;
    @include tab {
      font-size: 13px;
    }
    @include sp {
      font-size: 12px;
    }
  }
  &.-middle {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    @include tab {
      font-size: 14px;
    }
    @include sp {
      font-size: 13px;
    }
  }
  &:last-of-type {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 30px;
    @include tab {
      font-size: 16px;
    }
    @include sp {
      font-size: 14px;
    }
  }
}
