.benefits {
  background: $orange;
  padding: 50px 0;
}
.benefits__heading {
  margin-bottom: 30px;
}
.benefits__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 50px;
}
.benefits__span {
  color: #fff;
}
.benefits__content-wrapper {
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  padding: 50px;
}
.benefits__content-heading {
  font-size: 28px;
  line-height: 45px;
  font-weight: 600;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  background: $orange;
  white-space: nowrap;
}
.benefits__content {
  border-radius: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 250px;
  height: 250px;
}
.benefits__content-text {
  &:first-of-type {
    color: $orange;
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
  }
  &:last-of-type {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
