#page_top {
    position: fixed;
    right: 3%;
    bottom: 8%;
    a {
      background-color: rgb(236, 236, 236);
      color: #333;
      padding: 30px 25px;
      text-align: center;
    }
    i {
      font-size: 30px;
      @include sp {
        font-size: 20px;
      }
    }
  }
  