.thanks {
  background: #fff;
}
.thanks__button {
  border: 2px solid #999;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s;
}
.thanks__button:hover {
  background: #777;
  border: 2px solid #777;
  color: #fff;
}
