.contact__table {
  width: 100%;
  @include sp {
    font-size: 12px;
  }
  th {
    font-weight: 400;
  }
  td {
    padding: 10px;
  }
  input,
  textarea {
    border: 1px solid #666;
  }
  input {
    width: 50%;
    @include under-tab {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
  }
}
.contact__submit {
  border: 1px solid #ccc;
  display: block;
  margin: 20px auto 0;
  padding: 5px;
  &:hover {
    border: 1px solid #666;
  }
  @include under-tab {
    margin-bottom: 20px;
  }
}
